<div class="panel-header panel-header-sm">
</div>
<!--
<div class="main-content">
  <div class="row">
    <div class="col-md-2"  *ngFor="let card of cards">
      <div class="card clashCard zoom-background" 
      [style.backgroundImage]="'url('+ card.iconUrls.medium +')'">
        <h5 class="card-header">{{card.name}}</h5>
      </div>
    </div>
  </div>
</div>
-->



<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="places-buttons">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                  <h4 class="card-title">
                    Clash Royal Cards
                    <p class="category">Pick your deck</p>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let card of cards">
                      <img class="zoom-background clashCard" [src]="card.iconUrls.medium" (click)="showNotification('bottom','left')" />{{card.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>