
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="http://www.mosh-media.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://www.mosh-media.com/blog">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.Mosh-media.com" target="_blank">Mosh Media</a>
    </div>
  </div>
</footer>
